// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Navigation
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.navigation {
  background: $color-tertiary;
  border-bottom: 0.1rem solid $color-quaternary;
  display: block;
  height: 5rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  // Re-overiding the width 100% declaration to match size of% based container
  .container {
    padding-bottom: 0;
    padding-top: 0;
  }

  .navigation-list {
    list-style: none;
    margin-bottom: 0;
  }

  .navigation-item {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
  }

  .img {
    height: 3rem;
    position: relative;
    top: 1rem;
  }

  .title,
  .navigation-title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5rem;
    padding: 0;
    position: relative;
    text-decoration: none;
  }

  .navigation-link {
    display: inline;
    font-size: 1.6rem;
    line-height: 5rem;
    padding: 0;
    text-decoration: none;

    &.active {
      color: $color-secondary;
    }
  }
}
