---
title: Principal
layout: default
---

<header class="header">
  <section class="container">
    <img class="img" src="{{ '/image/600x600_2.png' | url }}" />
    <h1 class="title">NF-e Fácil</h1>
    <p class="description">
      Um emissor fiscal minimalista
      <br />
      <i><small>Atualmente v0.7.0</small></i>
    </p>
    <a class="button" href="https://nfefacil.net">Acessar plataforma</a>
  </section>
</header>

<main class="container">
  <p>
    A ideia do aplicativo é que a emissão fiscal possa ser feita em qualquer
    dispositivo, não importando o sistema operacional e sem a necessidade de
    qualquer tipo de aplicação externa para ter o sistema funcionando,
    bastando apenas possuir um browser atualizado instalado.
  </p>
  <p>
    A meta é que este emissor sejã tão fácil de usar que não seja preciso
    treinamento específico para usá-lo. Isso será feito garantindo que só
    serão implementadas novidades diretamente relacionadas à emissão de notas
    fiscais, ficando de fora atividades mais complexas e que não estejam
    relacionadas com a emissão de notas por sua empresa.
  </p>
  <p>
    Porém, atividades mais complexas e que não estejam relacionadas com a
    emissão de notas por sua empresa não serão implementadas, como controle de
    pedidos sem geração de notas fiscais (não é obrigatória a emissão, você
    pode apenas salvá-las se assim desejar) ou armazenamento de notas não
    emitidas por sua empresa (se a nota não foi emitida por você então quase
    certamente os seus dados não estão em conformidade com os demais dados
    cadastrados no emissor).
  </p>
  <p>
    Mais informações podem ser obtidas nas postagens e seções de ajuda
    presentes no rodapé de praticamente todas as páginas do sistema, nelas
    você terá acesso a observações sobre preenchimento e explicações sobre o
    funcionamento daquela tela.
  </p>
</main>
