---
title: Posts
layout: default
---

<main class="container">
  <dl>
    {%- for post in collections.post reversed -%}
    <dt>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </dt>
    <dd>Atualizado em: {{ post.date | onlyDate }}</dd>
    <dd>Tempo de leitura: {{ post | readingTime }}</dd>
    {%- endfor -%}
  </dl>
</main>
